@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-200 font-inter gradient-bg; /* Changed default text to light */
}

.gradient-bg {
  background: linear-gradient(135deg, #8b5cf6 0%, #6d28d9 100%);
}

.timeline-dot::before {
  content: '';
  @apply absolute w-3 h-3 bg-secondary-500 rounded-full left-[-5px] top-2; /* Changed to secondary color */
}

.timeline-line::after {
  content: '';
  @apply absolute w-[2px] h-full bg-secondary-300 left-0 top-3; /* Changed to secondary color */
  z-index: -1;
}

@layer utilities {
  .glass-effect {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}